@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;1,100;1,300&display=swap');

*{
    box-sizing: border-box;
}

body{
    align-items: center;
    background-color: #242333;
    color: #fff;
    display: flex;
    flex-direction: column;
    font-family: 'Lato', sans-serif;
    height: 100vh;
    justify-content: center;
    margin: 0;
}

.container{
    margin-bottom: 30px;
    perspective: 1000px;
}

.movie-container{
    margin: 20px 0;
}

.movie-container select{
    background-color: #fff;
    border: 0;
    border-radius: 5px;
    font-size: 14px;
    margin-left: 10px;
    padding: 5px 25px;
}

p.text{
    margin: 5px 0;
}

p.text span{
    color: #6feaf6;
}

.row{
    display: flex;
}

.screen{
    background:#fff;
    box-shadow:0 3px 10px rgba(255, 255, 255, 0.7) ;
    height:70px;
    margin: 15px 0;
    transform: rotateX(-45deg);
    width: 100%;
}
.seat{
    background-color: #444451;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 12px;
    margin: 3px;
    width: 15px;
}

.showcase{
    background: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    color: #777;
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 5px 10px;
}

.showcase li{
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 0 10px;
}

.showcase li small{
    margin-left: 2px;
}

/* Showcase seats that are not occupied on hover */
.showcase .seat:not(.occupied):hover{
    cursor: default;
    transform: scale(1);
}

/* Regular Seats that are not occupied - on hover */
.seat:not(.occupied):hover{
    cursor: pointer;
    transform: scale(1.2);
}

/* In the row div - there are 8 seat divs - choose the 2nd one */
.seat:nth-of-type(2){
    margin-right: 18px;
}

.seat:nth-of-type(7){
    margin-left: 18px;
}

.seat.occupied{
    background-color: #fff;
}

.seat.selected{
    background-color: #6feaf6;
}
